@import url('https://fonts.googleapis.com/css2?family=Abel&family=Inconsolata:wght@300&family=Poppins:wght@600&family=Roboto+Condensed:wght@300&display=swap');
body{
    background-image: url('img/bg2.jpg');
    background-repeat: repeat;
}
.container{
    margin: 30px auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.932);
    max-width: 560px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(95, 95, 95, 0.459);
}
/* Logo and Slogan */

.logoWrapper{
    display: flex;
    justify-content: center;
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', Helvetica;
}
.desc{
    text-align: center;
    font-family: 'Roboto Condensed', Verdana;
    margin-top: 10px;
    font-size: 18px;
}


/* Input and Copy button style */
.inputWrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.result{
    border: 1px solid rgb(190, 190, 190);
    border-right: 0px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    word-wrap: break-word;
    font-family: 'Roboto Condensed',  Tahoma;
    letter-spacing: 0.09rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 12px ;
    border-bottom-left-radius: 12px ;
    outline: none;
    transition: 0.2s ease-in-out;
}
.result:active,.result:focus + .copy-btn,.result:focus{
    border-color: rgb(124, 124, 124);
}
.copy-btn{
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 15px;
  background-color: #57A4FF;
  border-top-right-radius: 12px ;
  border-bottom-right-radius: 12px ;
  box-shadow: 0px 0px 10px 0px rgba(114, 114, 114, 0.459);
  cursor: pointer;
  transition: .2s ease-in-out;
  opacity: 1;
}
.copy-btn:hover{
    background-color: #3f96ff;
    border-color: rgb(82, 82, 82);
}
.copy-btn:active{
    transform: scale(1.04);
}

/* Slider Style */
.sliderWrapper{
    display: flex;
    padding: 20px;
    font-family:  'Abel',Helvetica;
    font-size: 20px;
    font-weight: 600;
    gap: 1.6rem;
    align-items: center;
}
.range{
    width: 70%;
    -webkit-appearance: none;
    background-color: rgb(216, 215, 215);
    border-radius: 10px;
    height: 0.3rem;
    border: 1px solid #a7a7a7;
}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #3f96ff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.number{
    font-weight: bold;   
    border-radius: 10px;
}


.toggleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10%;
    font-family:  'Abel',Helvetica;
    font-size: 20px;
    font-weight: 100;
    padding: 0 20px;
    /* align-items: center; */
}
.right,.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.right div,.left div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Custom Checkbox Style */
.checkbox{
    position: absolute;
    opacity: 0;
    top: -9000px;
    left: -9000px;
}
.toggle{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;
    margin: 20px;
}

.toggle::before{
    content: "";
    width: 3rem;
    height: 0.5rem;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    transition: .2s ease-in-out;
}
.toggle::after{
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: #3f96ff;
    border-radius: 50%;
    position: absolute;   
    transition: .2s ease-in-out; 
    
}

.checkbox:checked + .toggle::before{
    background-color: #57A4FF;
    transition: .2s ease-in-out;
}
.checkbox:checked + .toggle::after{
    transform: translate(100%) ;
    transition: .2s ease-in;
}
/* End of Checkbox */

/* Buttons */
.buttonWrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.generote-btn{
    width: 40%;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: transparent;
    border: 1px solid #bdbaba; /*2587ff */
    border-radius: 5px;
    color: black;
    font-family: 'Roboto Condensed', Verdana;
    font-size: 18px;
    box-shadow: 0px 0px 15px 1px rgba(114, 114, 114, 0.5);
    cursor: pointer;
}
.generote-btn:hover{
    opacity: 0.9;
    background-color: #ffffff;
    border-color: #272626;
    transition: 0.08s ease;
}
.generote-btn:active{
    transform: scale(1.05);
    transition: 0.08s ease;
}
.gen-pas{
    color: #fff;
    background-color: #2587ff;
    border-color: #dfdede;
}
.gen-pas:hover{
    background-color: #0d6ce0;
    border-color: #808080;
}

@media (max-width:540px) {
    .toggleWrapper{
        flex-direction: column;
    }
    .right div,.left div{
        padding: 0 20px;
        justify-content: space-between;
    }
    .buttonWrapper{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .generote-btn{
        width: 100%;
        padding: 20px;
    }
}