@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@600&family=Roboto+Condensed:wght@300&display=swap');
body{
    background-image: url('img/bg2.jpg');
    background-repeat: repeat;
}
.container{
    margin: 30px auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    max-width: 600px;
    padding: 20px;
    opacity: 0.94;
}

.headerWrapper{
    
}

.logoWrapper{
    display: flex;
    justify-content: center;
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.title{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', Helvetica;
}
.desc{
    text-align: center;
    font-family: 'Roboto Condensed', Verdana;
    margin-top: 10px;
    font-size: 18px;
}

.contentWrapper{
    
    
}
.inputWrapper{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.result{
    border: 1px solid rgb(190, 190, 190);
    border-right: 0px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    word-wrap: break-word;
    font-family: 'Roboto Condensed',  Tahoma;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 12px ;
    border-bottom-left-radius: 12px ;
   
}
.copy-btn{
  border: 1px solid rgb(212, 212, 212);
  padding: 10px 15px;
  background-color: #57A4FF;
  border-top-right-radius: 12px ;
  border-bottom-right-radius: 12px ;
  box-shadow: 0px 0px 10px 0px rgba(114, 114, 114, 0.459);
  cursor: pointer;
  transition: .2s ease-in-out;
}
.copy-btn:hover{
    background-color: #3f96ff;
}
.copy-btn:active{
    transform: scale(1.08);
}

/* Custom Checkbox Style */
.checkbox{
    position: absolute;
    opacity: 0;
    top: -9000px;
    left: -9000px;
}
.toggle{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;
    margin: 20px;
}

.toggle::before{
    content: "";
    width: 4rem;
    height: 1rem;
    background-color: rgb(224, 224, 224);
    border-radius: 1rem;
    transition: .2s ease-in-out;
}
.toggle::after{
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: #2BAE66FF;
    border-radius: 50%;
    position: absolute;   
    transition: .2s ease-in-out; 
    
}

.checkbox:checked + .toggle::before{
    background-color: rgb(62, 189, 119);
    transition: .2s ease-in-out;
}
.checkbox:checked + .toggle::after{
    transform: translateX(100%) ;
    transition: .2s ease-in;
}
/* End of Checkbox */